<% layout("/layouts/boilerplate") -%>
<body>
    
    <div class="row col-8 offset-2">
        <h3>Listing Details</h3>
        <div class="card">
            <img src="<%=listing.Image%>" class="card-img-top show-img" alt="show_image">
            <div class="card-body">
                <p class="card-text">
                    <%=listing.title%> <br>
                    <%=listing.description%> <br>
                    &#8377 <%=listing.price.toLocaleString('en-IN')%> <br>
                    <%=listing.location%> <br>
                    <%=listing.country%> <br>
                </p>
                
            </div>
        </div>
    </div>
    
   
    <div class="butt">
        <a class="col-1 btn btn-dark offset-2" href="/listings/<%=listing._id%>/edit">Edit</a>

    <form method="POST" action="/listings/<%=listing.id%>?_method=DELETE">
        <button  class="btn btn-dark offset-4">Delete</button>
    </form>
    </div>
    
</body>
